extends layout

block content
  div.div-simple-little-table(style="max-width: 400px; margin: 20px auto")
    //p Please authorize!
    p #{flash}
    form(style="max-width: 330px; margin:20px auto", method="post")
      h4.form-signin-heading Sign in
      label.sr-only(for="inputEmail") Login
      input#inputEmail.form-control(name="email", type="text", placeholder="Login", required="", autofocus="", style="margin:5px;")
      label.sr-only(for="inputPassword") Password
      input#inputPassword.form-control(name="password", type="password", placeholder="Password", required="", style="margin:5px;")
      button.btn.btn-primary.btn-block.pull-right(type="submit", style="margin:5px 0px; width: 150px;") Sign in
      .clearfix
      a.pull-right(href="/users/register") register
      .pull-right.
        or &nbsp;