body{
	font: bold 14px Verdana;
	}

#result_container{
	width: 600px;
	padding: 20px;
	margin: 30px auto;
	background-color: white;	
}
#result{
    font: normal 10px Verdana;
}
li{
   margin-bottom: 10px;
}